* {
    text-align: center;
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
}

.container {
    background-color: black;
}



#title {
    background-color: aquamarine;
}

#timeRemaining {
    background-color: darkorchid;
    margin: auto;
}

#question {
    background-color: blanchedalmond;
    margin: auto;
    padding: auto;
    word-spacing: 10px;
}

#answers {
    background-color: aqua;
    margin: auto;
}

#score {
    background-color: aqua;
    margin: auto;
}

#resultTitle {
    background-color: aqua;
    margin: auto;
}